<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cuong.haui.computershop">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/computer_shop"
        android:label="@string/app_name"
        android:roundIcon="@drawable/computer_shop"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComputerShop"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.notificationAdmin.NotificationAdminMainActivity"
            android:exported="true" >
        </activity>
        <activity
            android:name=".ui.notificationAdmin.NotificationAdminActivity"
            android:exported="false" />
        <activity
            android:name=".ui.statistical.StatisticalActivity"
            android:exported="true" />
        <activity
            android:name=".ui.SignUpAdmin.SignUpAdminActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.MainHostActivity"
            android:exported="false" />
        <activity
            android:name=".ui.stopSelling.StopSellingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.updateProduct.UpdateProductActivity"
            android:exported="false" />
        <activity
            android:name=".ui.productManagement.ProductManagementActivity"
            android:exported="false" />
        <activity
            android:name=".ui.userManagement.UserManagementActivity"
            android:exported="false" />
        <activity
            android:name=".ui.warrantyManagementAdmin.WarrantyManagementAdminActivity"
            android:exported="false" />
        <activity
            android:name=".ui.warrantyManagement.warrantyManagementActivity"
            android:exported="false" />
        <activity
            android:name=".ui.payZaloPay.ZaloPayActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="app"
                    android:scheme="demozpdk" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.listProductWarranty.ListProductWarrantyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.orderManagementAdmin.OrderManagementAdminActivity"
            android:exported="false" />
        <activity
            android:name=".ui.storeList.StoreListActivity"
            android:exported="true" />
        <activity
            android:name=".ui.bookWarranty.BookWarrantyActivity"
            android:exported="true" />
        <activity
            android:name=".ui.resetPassword.ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.chatAdminMain.ChatAdminMainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.chatAdmin.ChatAdminActivity"
            android:exported="false" />
        <activity
            android:name=".ui.chat.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".ui.chatMain.ChatMainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Order.OrderActivity"
            android:exported="false" />
        <activity
            android:name=".ui.laptopOffice.LaptopOfficeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.laptopGaming.LaptopGamingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.addProduct.addProductActivity"
            android:exported="true" />
        <activity
            android:name=".ui.main.MainAdminActivity"
            android:exported="true" />
        <activity
            android:name=".ui.orderManagement.OrderManagementActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.cart.CartActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.detail.DetailActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.signUp.SignUpActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.signIn.SignInActivity"
            android:exported="true"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>